

{% extends "blog/base.html" %}
{% block content %}
    {% for gh in Greenhouses %}
        {% for planter in gh.planter_set.all %}
        <div>
            <canvas id="{{planter}}" width="100" height="100"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('{{planter}}');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for item in planter.soilmoisture_set.all %}'{{item.date|date:"h:m j F, Y" }}',{% endfor %}],
                    datasets: [{
                        label: '{{planter}} planter moisture',
                        data: [{% for item in planter.soilmoisture_set.all %}'{{item.value}}',{% endfor%}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>
        {% endfor %}
    {% endfor %}



{% endblock content %}